@import url("https://unpkg.com/open-props");
@import url("https://unpkg.com/open-props/normalize.min.css");

:root {
  /* COLORS */
  --primary: #535bf2;
  --primary-accent: #646cff;
  --white: white;
  --black: black;
  --error: #900f0f;

  /* Fonts */
  --font-size-base: 1rem;
  --font-line-base: 1.4;
  --font-weight-regular: 400;
  --font-weight-medium: 500;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: var(--font-line-base);
  font-weight: var(--font-weight-regular);
  color-scheme: light dark;
  color: var(--black);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ------------------------------------------------------------------ UI */

  /* color scheme */
  @media (prefers-color-scheme: dark) {
    --foreground-color: var(--white);
    --background-color: var(--black);
  }
}

/* RESET */
* {
  box-sizing: border-box;
  min-width: 0;

  /* position: relative; */
}

/* body {
  min-height: 100dvh;
} */

h1,h2, h3, h4 {
  line-height: var(--font-line-base);
  margin-top: 0;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
html {
  font-size: var(--font-size-base);
}

#app {
  display: flex;
  justify-content: space-around;
  height: 100dvh;
}

/* body {
  background: var(--background-color, white);
  color: var(--foreground-color, black);
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

main {
  margin-inline: auto;
  max-width: 64rem;
} */

[data-ui~="primary"] {
  color: var(--primary);
}

[data-ui~="outline"] {
  border: 0.065rem  solid red;
}

[data-ui]:not([data-ui~="primary"])[data-ui~="size"] {
  padding: 1rem;
}

[data-ui~="h:"]:hover {
  opacity: 0.1;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
